@tailwind base;
@tailwind components;
@tailwind utilities;


input:where([type="file"]){
    display: none;
}

label{
    cursor: pointer;
}

html::-webkit-scrollbar {
    display: none;
}

div::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

div::-webkit-scrollbar {
    width: 8%;
    background: #F4F4F4;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #0d6efd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="range"] {
    appearance: none;
    -webkit-appearance: none; 
    width: 70%;
    background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #ddd; 
    border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #0a58ca; 
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.dark input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #8a8a8a; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.dark input[type="range"]::-webkit-slider-thumb:hover {
    background: #8a8a8a; 
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

div::-webkit-scrollbar-thumb {
    background: #0d6efd;
    border-radius: 10px;
}

.dark div::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

.dark div::-webkit-scrollbar {
    width: 8px;
    background-color: #F4F4F4;
}

.dark div::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
}


canvas::-webkit-scrollbar {
    display: block;
}

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  }

  input[type="number"]{
    outline:none;
    width: 50px;
  }

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat/static/Montserrat-Black.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat/static/Montserrat-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat/static/Montserrat-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat/static/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat/static/Montserrat-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat/static/Montserrat-ExtraLight.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat/static/Montserrat-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat/static/Montserrat-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat/static/Montserrat-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat/static/Montserrat-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat/static/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat/static/Montserrat-Thin.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat/static/Montserrat-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}
